---
title: 8000038 GDPR underordnede konto kontrol
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 01/24/2019
ms.locfileid: "29464377"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Fødselsdato, der vises i din Microsoft-konto er forkert

Microsoft tager sikkerhed meget alvorligt. Du kan har for nylig blevet bedt om at angive forældresamtykke for børnekonto Microsoft. Hvis du har brug for hjælp til at give forældresamtykke eller opdaterer fødselsdatoen på en Microsoft-konto, kan du se [bekræftelse af alder for forældrenes samtykke](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lær mere om [forældrenes samtykke og Microsoft børnekonti](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

