---
title: EDU bekræftelse
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710333"
---
# <a name="edu-verification"></a><span data-ttu-id="4c639-102">EDU bekræftelse</span><span class="sxs-lookup"><span data-stu-id="4c639-102">EDU verification</span></span>

<span data-ttu-id="4c639-103">I de fleste tilfælde afvikles anmodninger om studie berettigelse inden for 24-48 timer.</span><span class="sxs-lookup"><span data-stu-id="4c639-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="4c639-104">Nogle anmodninger kræver muligvis mere grundig revision og kan tage op til 10 arbejdsdage at behandle.</span><span class="sxs-lookup"><span data-stu-id="4c639-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="4c639-105">Når vi er færdig, sender vi en mail med din skoles berettigelses status.</span><span class="sxs-lookup"><span data-stu-id="4c639-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="4c639-106">**Vigtige** Hvis du har afsluttet bekræftelses guiden, før du angiver et domæne, kan du til enhver tid [genoptage guiden til studie bekræftelse](https://go.microsoft.com/fwlink/p/?linkid=2135255) under din gratis prøveperiode.</span><span class="sxs-lookup"><span data-stu-id="4c639-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="4c639-107">Hvis du vil kontrollere status for dit domæne, skal du gå til [Microsoft 365 administration](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="4c639-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="4c639-108">På startsiden skal du rulle til bunden og finde **fakturerings** kortet.</span><span class="sxs-lookup"><span data-stu-id="4c639-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="4c639-109">**Fakturerings** kortet angiver status for godkendelsesprocessen (godkendt, afventer, afslået eller Tilføj dit domæne).</span><span class="sxs-lookup"><span data-stu-id="4c639-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="4c639-110">Hvis din anmodning afvises, kan du se [min skole er ikke berettiget. Hvad gør jeg nu?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="4c639-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>