---
title: EDU-verifikation
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205261"
---
# <a name="edu-verification"></a>EDU-verifikation

I de fleste tilfælde behandles anmodninger om akademisk berettigelse inden for 24-48 timer. Nogle anmodninger kan kræve en mere grundig gennemgang og kan tage op til 10 hverdage at behandle. Når den er fuldført, sender vi en e-mail med din skoles berettigelsesstatus.

**Vigtigt** Hvis du har forladt bekræftelsesguiden, før du indtaster et domæne, kan du når som helst [genoptage](https://go.microsoft.com/fwlink/p/?linkid=2135255) guiden for akademisk bekræftelse under din gratis prøveperiode.

Hvis du vil kontrollere status for dit domæne, skal du gå til [Microsoft 365 Administration](https://go.microsoft.com/fwlink/p/?linkid=2024339). Rul ned til bunden på startsiden, og find **faktureringskortet.** **Faktureringskortet** angiver status for bekræftelsesprocessen (godkendt, afventende, afvist eller tilføj dit domæne).

Hvis din anmodning afvises, skal du [se Min skole er ikke kvalificeret. Hvad gør jeg nu?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)