---
title: EDU-bekræftelse
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814366"
---
# <a name="edu-verification"></a><span data-ttu-id="8d5c4-102">EDU-bekræftelse</span><span class="sxs-lookup"><span data-stu-id="8d5c4-102">EDU verification</span></span>

<span data-ttu-id="8d5c4-103">I de fleste tilfælde behandles akademiske berettigelsesanmodninger inden for 24-48 timer.</span><span class="sxs-lookup"><span data-stu-id="8d5c4-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="8d5c4-104">Nogle anmodninger kræver en mere grundig gennemgang og kan tage op til 10 arbejdsdage at behandle.</span><span class="sxs-lookup"><span data-stu-id="8d5c4-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="8d5c4-105">Når du er færdig, sender vi en mail med din skoles berettigelsesstatus.</span><span class="sxs-lookup"><span data-stu-id="8d5c4-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="8d5c4-106">**Vigtigt** Hvis du har afsluttet bekræftelsesguiden, [](https://go.microsoft.com/fwlink/p/?linkid=2135255) før du indtaster et domæne, kan du når som helst genoptage den akademiske bekræftelsesguide i løbet af din gratis prøveversion.</span><span class="sxs-lookup"><span data-stu-id="8d5c4-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="8d5c4-107">Hvis du vil kontrollere status for dit domæne, skal du gå til [Microsoft 365 Administration.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="8d5c4-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="8d5c4-108">Rul til bunden på startsiden, og find **faktureringskortet.**</span><span class="sxs-lookup"><span data-stu-id="8d5c4-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="8d5c4-109">**Faktureringskortet** angiver status for bekræftelsesprocessen (godkendt, afventende, afvist eller tilføj dit domæne).</span><span class="sxs-lookup"><span data-stu-id="8d5c4-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="8d5c4-110">Hvis din anmodning afvises, skal du [se Min skole er ikke berettiget. Hvad gør jeg nu?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="8d5c4-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>