---
title: EDU bekræftelse
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710333"
---
# <a name="edu-verification"></a>EDU bekræftelse

I de fleste tilfælde afvikles anmodninger om studie berettigelse inden for 24-48 timer. Nogle anmodninger kræver muligvis mere grundig revision og kan tage op til 10 arbejdsdage at behandle. Når vi er færdig, sender vi en mail med din skoles berettigelses status.

**Vigtige** Hvis du har afsluttet bekræftelses guiden, før du angiver et domæne, kan du til enhver tid [genoptage guiden til studie bekræftelse](https://go.microsoft.com/fwlink/p/?linkid=2135255) under din gratis prøveperiode.

Hvis du vil kontrollere status for dit domæne, skal du gå til [Microsoft 365 administration](https://go.microsoft.com/fwlink/p/?linkid=2024339). På startsiden skal du rulle til bunden og finde **fakturerings** kortet. **Fakturerings** kortet angiver status for godkendelsesprocessen (godkendt, afventer, afslået eller Tilføj dit domæne).

Hvis din anmodning afvises, kan du se [min skole er ikke berettiget. Hvad gør jeg nu?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)