---
title: EDU-verifikation
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205261"
---
# <a name="edu-verification"></a><span data-ttu-id="f4476-102">EDU-verifikation</span><span class="sxs-lookup"><span data-stu-id="f4476-102">EDU verification</span></span>

<span data-ttu-id="f4476-103">I de fleste tilfælde behandles anmodninger om akademisk berettigelse inden for 24-48 timer.</span><span class="sxs-lookup"><span data-stu-id="f4476-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="f4476-104">Nogle anmodninger kan kræve en mere grundig gennemgang og kan tage op til 10 hverdage at behandle.</span><span class="sxs-lookup"><span data-stu-id="f4476-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="f4476-105">Når den er fuldført, sender vi en e-mail med din skoles berettigelsesstatus.</span><span class="sxs-lookup"><span data-stu-id="f4476-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="f4476-106">**Vigtigt** Hvis du har forladt bekræftelsesguiden, før du indtaster et domæne, kan du når som helst [genoptage](https://go.microsoft.com/fwlink/p/?linkid=2135255) guiden for akademisk bekræftelse under din gratis prøveperiode.</span><span class="sxs-lookup"><span data-stu-id="f4476-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="f4476-107">Hvis du vil kontrollere status for dit domæne, skal du gå til [Microsoft 365 Administration](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="f4476-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="f4476-108">Rul ned til bunden på startsiden, og find **faktureringskortet.**</span><span class="sxs-lookup"><span data-stu-id="f4476-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="f4476-109">**Faktureringskortet** angiver status for bekræftelsesprocessen (godkendt, afventende, afvist eller tilføj dit domæne).</span><span class="sxs-lookup"><span data-stu-id="f4476-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="f4476-110">Hvis din anmodning afvises, skal du [se Min skole er ikke kvalificeret. Hvad gør jeg nu?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="f4476-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>