---
title: EDU-bekræftelse
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946692"
---
# <a name="edu-verification"></a>EDU-bekræftelse

I de fleste tilfælde behandles akademiske berettigelsesanmodninger inden for 24-48 timer. Nogle anmodninger kræver en mere grundig gennemgang og kan tage op til 10 arbejdsdage at behandle. Når du er færdig, sender vi en mail med din skoles berettigelsesstatus.

**Vigtigt** Hvis du har afsluttet bekræftelsesguiden, [](https://go.microsoft.com/fwlink/p/?linkid=2135255) før du indtaster et domæne, kan du når som helst genoptage den akademiske bekræftelsesguide i løbet af din gratis prøveversion.

Hvis du vil kontrollere status for dit domæne, skal du gå til [Microsoft 365 Administration](https://go.microsoft.com/fwlink/p/?linkid=2024339). Rul til bunden på startsiden, og find **faktureringskortet.** **Faktureringskortet** angiver status for bekræftelsesprocessen (godkendt, afventende, afvist eller tilføj dit domæne).

Hvis din anmodning afvises, skal du [se Min skole er ikke berettiget. Hvad gør jeg nu?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)