---
title: 8000038 GDPR-bekræftelse af børnekonto
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764974"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Den fødselsdato, der vises på din Microsoft-konto, er forkert

Microsoft tager hensyn til sikkerhed meget alvorligt. Du er muligvis for nylig blevet bedt om at give forældresamtykke til et barns Microsoft-konto. Hvis du har brug for hjælp til at give forældresamtykke eller opdatere fødselsdatoen på en Microsoft-konto, skal du se [Aldersbekræftelse for at få forældresamtykke](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Få mere at vide om [Forældresamtykke og Microsoft-børnekonti](https://go.microsoft.com/fwlink/p/?linkid=874365).
  