---
title: 8000038 GDPR underordnede konto kontrol
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775831"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Fødselsdato, der vises i din Microsoft-konto er forkert

Microsoft tager sikkerhed meget alvorligt. Du kan har for nylig blevet bedt om at angive forældresamtykke for børnekonto Microsoft. Hvis du har brug for hjælp til at give forældresamtykke eller opdaterer fødselsdatoen på en Microsoft-konto, kan du se [bekræftelse af alder for forældrenes samtykke](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lær mere om [forældrenes samtykke og Microsoft børnekonti](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

