---
title: GDPR bekræftelse af barns konto 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707957"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Den fødselsdato, der vises på din Microsoft-konto, er forkert

Microsoft tager konto sikkerheden meget alvorligt. Du har måske for nyligt bedt om at give forældretilladelse til et barns Microsoft-konto. Hvis du har brug for hjælp til at give forældretilladelse eller opdatere fødsels datoen på en Microsoft-konto, skal du se [Age-bekræftelsen af forældretilladelse](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Få mere at vide om [forældretilladelse og Microsoft børnekonti](https://go.microsoft.com/fwlink/p/?linkid=874365).
  