---
title: Foretag fejlfinding af udgiver bekræftelse
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884903"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemer, der er relateret til udgiver bekræftelse for udviklere

**Anbefalede trin** 

Hvis du vil løse problemer, der er relateret til udgiver bekræftelse, skal du udføre disse trin:

1. Gennemse forudsætninger og andre krav for at sikre, at de alle er opfyldt.
2. Gennemse instruktionerne for at [markere en app som bekræftet](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) og sørg for, at alle trin er blevet udført.
3. Gennemse listen over [almindelige problemer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) , og følg de anbefalede trin, hvis du har et problem fra en sådan liste.
4. Genopretter anmodningen ved hjælp af [diagram Stifinder](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) for at indsamle yderligere oplysninger og udelukke eventuelle problemer i brugergrænsefladen.

**Anbefalede dokumenter**

- [Udgiver bekræftelse – oversigt](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Markere din app som udgiver bekræftet](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Foretag fejlfinding af udgiver bekræftelse](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

