---
title: Foretag fejlfinding af udgiver bekræftelse
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: da-DK
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884903"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="7e978-102">Problemer, der er relateret til udgiver bekræftelse for udviklere</span><span class="sxs-lookup"><span data-stu-id="7e978-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="7e978-103">**Anbefalede trin**</span><span class="sxs-lookup"><span data-stu-id="7e978-103">**Recommended steps**</span></span> 

<span data-ttu-id="7e978-104">Hvis du vil løse problemer, der er relateret til udgiver bekræftelse, skal du udføre disse trin:</span><span class="sxs-lookup"><span data-stu-id="7e978-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="7e978-105">Gennemse forudsætninger og andre krav for at sikre, at de alle er opfyldt.</span><span class="sxs-lookup"><span data-stu-id="7e978-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="7e978-106">Gennemse instruktionerne for at [markere en app som bekræftet](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) og sørg for, at alle trin er blevet udført.</span><span class="sxs-lookup"><span data-stu-id="7e978-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="7e978-107">Gennemse listen over [almindelige problemer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) , og følg de anbefalede trin, hvis du har et problem fra en sådan liste.</span><span class="sxs-lookup"><span data-stu-id="7e978-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="7e978-108">Genopretter anmodningen ved hjælp af [diagram Stifinder](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) for at indsamle yderligere oplysninger og udelukke eventuelle problemer i brugergrænsefladen.</span><span class="sxs-lookup"><span data-stu-id="7e978-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="7e978-109">**Anbefalede dokumenter**</span><span class="sxs-lookup"><span data-stu-id="7e978-109">**Recommended documents**</span></span>

- [<span data-ttu-id="7e978-110">Udgiver bekræftelse – oversigt</span><span class="sxs-lookup"><span data-stu-id="7e978-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="7e978-111">Markere din app som udgiver bekræftet</span><span class="sxs-lookup"><span data-stu-id="7e978-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="7e978-112">Foretag fejlfinding af udgiver bekræftelse</span><span class="sxs-lookup"><span data-stu-id="7e978-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

